html, body, div, span,
h1, h2, h3, h4, h5, h6, p, img,
b, u, i , ul, li, form, label,
table,tbody, tfoot, fieldset, textarea, thead, tr, th, td{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    min-width: 320px;
    height: 100%;

    color: #504945;
    background-color: #f7f2ef;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}

.wrapper {
    padding: 100px 160px 100px 75px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

}

.wrapper > * {
    margin-right: 30px;
    flex: 1 100%;
}

.main {
    padding-bottom: 70px;
    position: relative;
    text-align: left;
    background: #fff;
}

.aside {
    max-width: 300px;
    background: #fff;
}

@media only screen and (max-width: 960px), only screen and (max-device-width: 960px), only screen and (max-device-height: 960px) {
    .aside { display: block }
    .wrapper { padding-right: 50px }
}
@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0; }
    .aside { order: 1; }
    .main    { order: 2; }
}

h1 {
    font-size: 26px;
    font-weight: 400;
}
h2 {
    font-size: 20px;
    font-weight: 400;
}
._title {
    border-bottom: solid 1px #e9ded6;
}
.container {
    padding: 20px 40px;
}

.chat-header{
    height: 45px;
    text-align: center;
}
._users li {
    padding: 10px 40px;
    display: flex;
}
._users li._active {
    cursor: pointer;
    border: 1px;
}

._users li._active:hover {
    background-color: #e9ded6;
}
.usersList {
    margin: auto 0;
}
.usersListIcon {
    margin: auto 10px 0 0;
    display: block;
    width: 60px;
    height: 60px;
    background-size: 115px auto;
    border-radius: 50%;
}
.message {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: solid 1px #e9ded6;
}
.message-input {
    margin-right: 180px;
    display: block;
    height: 50px;
}
.message-input textarea {
    padding: 10px 20px;
    display: block;
    width: 100%;
    height: 30px;
    border: 0;
    font-size: 18px;
    background-color: #fff;
}

textarea {
    width: calc(100% - 130px);
    max-width: calc(100% - 130px);
    font-size: 23px;
    line-height: 2;
}
button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 130px;
    height: 50px;
    border: 0;
    font-size: 18px;
    color: #fff;
    background-color: #a59f9d;
}
.messageItem {
    margin-bottom: 20px;
    margin-right: 20%;
    display: flex;
}
.messageItem._replay {
    margin-left: 20%;
    margin-right: 0;
}
.messageItem .messageUser {
    width: 100px;
}
.messageUser .usersListIcon {
    width: 100px;
    height: 90px;
    background-size: 80px auto;
    background-position: 50% 0;
}
.messageUser .userName {
    text-align: center;
    font-weight: 700;
    font-size: 90%;
    line-height: 1;
}
.messageText {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    margin-left: 7px;
    background: #f5f4f4;
}
.messageItem._replay .messageText {
    margin-left: 0;
    margin-right: 7px;
    background-color: #f0e8e2;
}
.messageText:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: 20px;
    left: -7px;
    border-width: 10px 7px 10px 0;
    border-color: transparent #f5f4f4;
}
.messageItem._replay .messageText:after {
    left: auto;
    right: -7px;
    border-width: 10px 0 10px 7px;
    border-color: transparent #f0e8e2;
}
.messageDate {
    margin-top: 5px;
    font-size: 90%;
    color: #9e9895;
}
.messages{
    overflow-y: scroll;
    height: 400px;
}

.text{
    padding: 20px;
    font-size: 60px;
    font-family: 'Passion One', cursive;
    text-align: center;
    margin: 0 auto;
}
.messageIcon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.messageTime{
    font-size: 14px;
}
