body {
    min-width: 320px;
    height: 100%;
    color: #504945;
    background-color: #f7f2ef;
    font-size: 16px;
    line-height: 1.6;
}

h1{
    margin-top: 20px;
    padding: 20px;
    font-size: 60px;
}

#registration-form{
    display: none;

}

#google-signin-button{
    margin-left: 48%;
}

.text{
    font-family: 'Passion One', cursive;
}

.center{
    text-align: center;
    margin: 0 auto;
}