<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>HiFriends</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/chat.css"/>
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet'/>
</head>

<body>
<div class="center">
    <h1 class="text">HiFriends Chat</h1>
    <h2 class="text" th:text="${'Welcome ' + chatOwner.name}"></h2>
</div>
<div class="wrapper">
    <article class="main">
        <div class="_title">
            <div class="container chat-header">
                <h1 id="ownerTag"
                    data-th-attr="data-owner-id=${chatOwner.id}, data-owner-name=${chatOwner.name},data-owner-active=${chatOwner.active},data-owner-email=${chatOwner.email},data-owner-avatar=${chatOwner.imagePath}">
                   <span id="apponent"></span>
                </h1>
            </div>
        </div>
        <div class="container">
            <fieldset id="chat" class="chat">
                <div id="messages" class="messages"></div>
            </fieldset>
        </div>

        <div class="message">
            <div>
                <textarea id="message" class="message-input" type="text" maxlength="255" placeholder=" Сообщение...."></textarea>
                <button id="send">Отправить</button>
            </div>
        </div>
    </article>
    <aside class="aside">
        <div class="container">
            <h2>Диалоги</h2>
        </div>
        <ul id="users" class="_users"></ul>
    </aside>
</div>
<script src="js/autosize.js"></script>
<script src="js/service.chat.js"></script>
</body>
</html>