<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="google-signin-client_id"
          content="299158705929-b7rstmc3fji5bfc2a2a2vcfk14lu27k0.apps.googleusercontent.com"/>
    <title>HiFriends</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet'/>
    <script src="js/registration.js"/>
    <script src="js/logo.js"/>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async="true" defer="true"></script>
</head>
<body>
<div class="center">
    <h1 class="text">HiFriends Chat</h1>
    <div id="google-signin-button"></div>
    <div id="logo"></div>
</div>
<form id="registration-form" action="chat" method="POST">
    <input id="name" name="name"/>
    <input id="email" name="email"/>
    <input id="avatar" name="avatar"/>
</form>
<script src="js/jquery.lazylinepainter-1.7.0.min.js"></script>
</body>
</html>