<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>
<div class="results-block">
    <table id="msgTable">
        <div class="messageItem">
            <div class="messageUser">
                <i class="usersListIcon"></i>
                <div class="userName">User Name
                </div>
                <div class="messageDate">2017-08-22 02:13:59.</div>
            </div>
            <div class="messageText">
                message text...
            </div>
        </div>
    </table>
</div>
</body>
</html>